.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 100%;
  font-family: var(--font-mono);
}

.center {
  display: flex;
  min-width: 100%;
  gap: 15px;
  margin-bottom: 20px;
}

.gridcontainer {
  flex: 1 0 auto;
  margin: auto;
}

.buttonscontainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 98%;
}

.section h2 {
  margin-top: 0;
}

.section dl {
  padding-left: 20px;
}

.section dd {
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
}

@media (orientation: portrait) {
  .center {
    flex-direction: column;
    align-items: center;
  }

  .gridcontainer {
    justify-content: flex-start;
  }

  .buttonscontainer {
    flex-flow: row wrap;
    justify-content: center;
  }
}
